<launch>

  <node pkg="Safety_and_Attention" name="robot_control_0" type="robot_control_0.py" output="screen"/>
    <!-- <param name ="a" value= "$(arg a)" />
    <param name ="b" value= "0.0" /> -->
  <!-- </node> -->

  <!-- <node pkg="Safety_and_Attention" name="robot_control_1" type="robot_control_1.py" output="screen"/> -->
    <!-- <param name ="a" value= "$(arg a)" />
    <param name ="b" value= "0.0" /> -->
  <!-- </node> -->

  <!-- <node pkg="Safety_and_Attention" name="robot_control_2" type="robot_control_2.py" output="screen"/> -->
    <!-- <param name ="a" value= "$(arg a)" />
    <param name ="b" value= "0.0" /> -->
  <!-- </node> -->

  <!-- <node pkg="Safety_and_Attention" name="commander" type="commander.py" output="screen">
    <param name ="c" value= "0.0" />
  </node> -->

</launch>
